body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.tm-filmList {

}

.tm-filmItem {
  position: relative;
  .tm-title {

  }
  .tm-overview {
    height: auto;
    min-height: 40px;
  }
  .tm-poster {
    display: inline-block;
  }
  .tm-description {
    display: inline-block;
  }
}
